// This file stores design tokens or custom values that you use repeatedly—like colors, fonts, spacing, etc
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file

// $color-primary: #007bff;
// $color-secondary: #6c757d;
// $color-success: #28a745;
// $color-danger: #dc3545;
// $color-warning: #ffc107;
// $color-info: #17a2b8;
// $color-light: #f8f9fa;
// $color-dark: #343a40;

$primary-color: #000;
$secondary-color: #B34D46;
$third-color: #010D48;
$font-family: 'Poppins', sans-serif;
$max-width: 1200px;