@font-face {
    font-family: 'Gistesy';
    src: url('../assets/fonts/Gistesy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kaftus';
    src: url('../assets/fonts/Kaftus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
@import './variables';
@import './reset';
@import './mixins';

// Add global styles here
html, body {
  scroll-behavior: smooth;
}


